h1,
h2,
h3 {
  text-align: center;
}

.social {
  position: relative;
  align-items: center;
  height: 500px;
  max-width: 1100px;
}

.text {
  text-align: center;
}
.titre {
  justify-content: center;
  color: default-color;
}

.boutton {
  justify-content: center;
  color: cyan;
}
.cadre {
  width: 240px;
  height: 280px;
}
