.App1 {
  text-align: center;
  display: flex;

  align-items: center;
  font-family: "Open Sans", sans-serif;
}

.social {
  width: auto;
  height: auto;
}

.text {
  text-align: center;
}
.titre {
  color: default-color;
  width: 1300px;
}

.menu {
  width: 1300px;
}

.boutton {
  justify-content: center;
  color: cyan;
}
.cadre1 {
  width: 240px;
  height: 280px;
}
